# Pandas

В этом задании предлагается провести небольшой анализ данных датасета [studens](https://archive.ics.uci.edu/ml/datasets/Student+Performance#), в котором содержатся данные об успеваемости учеников старших классов.
Описание полей вы можете найти на [сайте](https://archive.ics.uci.edu/ml/datasets/Student+Performance#)

In [1]:
import pandas as pd
%matplotlib inline

## Задание 1 ★☆☆

Считайте файл в переменную `data` определите размер таблицы.

In [9]:
data = pd.read_csv('C:\ML projects\data_mining_industry\DMIA_Industry_2019_Autumn\hw02\data\student-mat.csv',sep=';')

In [10]:
# размер это tuple (количество строк, количество столбцов)
shape = data.shape

In [11]:
shape

(395, 33)

Значение для формы

In [12]:
print(' '.join(map(str, shape)))

395 33

Посмотрите первые пять строк

In [13]:
# TODO

Выведите список названий столбцов

In [22]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

## Задание 2 ★☆☆

Определите количество студентов, у которых оценка G1 выше среднего.

In [17]:
mean = data['G1'].mean()

In [18]:
more_then_mean = data[data['G1']>mean]

Значение для формы

In [23]:
print(more_then_mean.drop_duplicates().shape[0])

202

## Задание 3 ★☆☆

Определите значение для поля `absences` после сортировки по убыванию по полю `G3`, которое находится на 100 позиции после сортировки (отсчет с 0).

In [28]:
data.sort_values('absences',ascending = False).iloc[100,:]

school             GP
sex                 M
age                15
address             U
famsize           LE3
Pstatus             T
Medu                4
Fedu                4
Mjob          teacher
Fjob            other
reason           home
guardian        other
traveltime          1
studytime           1
failures            0
schoolsup          no
famsup            yes
paid               no
activities         no
nursery            no
higher            yes
internet          yes
romantic          yes
famrel              5
freetime            4
goout               3
Dalc                2
Walc                4
health              5
absences            8
G1                 12
G2                 12
G3                 12
Name: 41, dtype: object

In [29]:
absences_at_100 = data.sort_values('absences',ascending = False).iloc[100,:].absences

Значение для формы

In [30]:
print(absences_at_100)

8

## Задание 4 ★☆☆

Определите долю студентов женского и мужского пола.

In [31]:
data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [39]:
# получите объект series индексы которого: F и M
serires_object = data.groupby('sex').agg({'sex':'count'})/data.shape[0]

In [40]:
serires_object

          sex
sex
F    0.526582
M    0.473418

Значение для формы

In [42]:
print("{:.3f} {:.3f}".format(0.473418, 0.526582))

0.473 0.527

## Задание 5 ★★☆

Определите общее количество пропущенных значений в таблице.

In [63]:
data[data.isnull().T.any().T]

Empty DataFrame
Columns: [school, sex, age, address, famsize, Pstatus, Medu, Fedu, Mjob, Fjob, reason, guardian, traveltime, studytime, failures, schoolsup, famsup, paid, activities, nursery, higher, internet, romantic, famrel, freetime, goout, Dalc, Walc, health, absences, G1, G2, G3]
Index: []

[0 rows x 33 columns]

In [56]:
null_count = data.isna().sum().sum() # calculate total

Значение для формы

In [57]:
print(null_count)

0

## Задание 6 ★★☆

Определите уникальные значения 'Mjob', отсортируйте их по алфавиту, сопоставьте каждому значению его позицию в отсорированном списке и замените значения в таблице на его позицию. Например, если вы получили список уникальных значений ['a', 'c', 'f'], то вместо 'a' везде нужно поставить 0, вместо 'c' везде нужно поставить 1, а вместо 'f' - 
2.

In [71]:
dic = dict(zip(sorted(data['Mjob'].unique()),range(6)))

In [72]:
data['Mjob'] = data['Mjob'].apply(lambda x: dic[x])

Значение для формы

In [73]:
print(data['Mjob'].value_counts().idxmax())

2

## Задание 7 ★★☆

Сгруппируйте данные по полю 'sex' и определите среднее значение, медиану и максимальное значение оценок 'G3'.
Подсказка: agg

In [81]:
# получите data frame с соответсвующими стрками (по полю sex) и столбцами (среднее, медиана и максимум)
df_grouped = data.groupby('sex').agg({'G3':['mean','median','max']})

Значение для формы

In [82]:
print("{:.3f}".format(df_grouped.sum().sum()))

80.881

## Задание 8 ★★☆

Определите среднее количество пропусков занятий ('absences') среди студентов, каждая оценка которых ('G1', 'G2', 'G3') выше медианы.

In [84]:
mean_score_high_level = data[(data['G1']>data['G1'].mean()) & (data['G2']>data['G2'].mean()) & (data['G3']>data['G3'].mean())]['absences'].mean()

Значение для формы

In [39]:
print("{:.4f}".format(mean_score_high_level))

## Визуализация в pandas

Постройти распределение оценок 'G1'(гистограмму). Используйте методы для data frame и series.

In [40]:
# TODO

Постройте scatter plot по признакам 'G3'и 'absences'

In [41]:
# TODO